<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sejarah.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>AN NINDHAM</title>
</head>
<body>
    <div class="tophead">
        <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i> 0892949850183
        </a>
        <a href="">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> maaninnindham@gmail.com
        </a>
        <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Alamat : JL. GENUK PAMONGAN KM 05 KALISARI, Kalisari, Kec. Sayung, Kab. Demak, Jawa Tengah
        </a>
    </div>
    <div class="header" id="myHeader">
        <img src="../img/lg.png" alt="">
        <h2>MA AN NINDHAM</h2>
        <nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li>
                    <a href="">PROFILE</a>
                    <ul class="dropdown">
                        <li><a href="views/sejarah.html">SEJARAH SINGKAT</a></li>
                        <li><a href="views/visi dan misi.html">VISI & MISI</a></li>
                        <li><a href="views/profile pimpinan.html">PROFILE PIMPINAN</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">PROGRAM</a>
                    <ul class="dropdown">
                        <li><a href="">KURIKULUM</a></li>
                        <li><a href="">PROGRAM UNGGULAN</a></li>
                        <li><a href="">FASILITAS</a></li>
                    </ul>
                </li>
                <li>
                    <a href="views/ekstrakurikuler.html">EKSTRAKULIKULER</a>
                </li>
                <li>
                    <a href="">STAF</a>
                    <ul class="dropdown">
                        <li><a href="">TATA USAHA</a></li>
                        <li><a href="views/pengajar.html">PENGAJAR</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">GALERI</a>
                    <ul class="dropdown">
                        <li><a href="">FOTO</a></li>
                        <li><a href="">VIDEO</a></li>
                        <li><a href="">ALUMNI</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">BERITA</a>
                    <ul class="dropdown">
                        <li><a href="">BERITA SEKOLAH</a></li>
                        <li><a href="">BERITA LAYANAN MASYARAKAT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">PPDB</a>
                </li>
                <li>
                    <a href="">PORTAL SISWA</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h2>Sejarah Singkat</h2>
        <p>MA An Nidham merupakan lembaga pendidikan yang didirikan pada tanggal 14  Juni 2008  oleh Lembaga Pendidikan Ma’arif  NU  Ranting Kalisari . Berdirinya MA. An Nidham diprakarsai oleh Jam’iyah Nahdlatul Ulama’ Ranting Kalisari Sayung Demak. Dalam kepengurusan masa khidmat tersebut dengan pimpinan K. A. Musa.</p>
        <p>Pelindung : Lurah Desa Kalisari</p>
        <p>Rois suriyah : K. Makin</p>
        <p>Katib : K. Mukhozin</p>
        <p>Ketua Tanfidliyah : K. A. Musa</p>
        <p>Sekretaris : M Khifdlon</p>
        <p>Berdirinya suatu lembaga pendidikan pada umumnya dipengaruhi oleh situasi, lingkungan, dan lain-lainnya. Demikian pula dengan MA AnNidham Kalisari Sayung Demak , dimana pada masa berdirinya dipengaruhi oleh berbagai hal. Adapun hal-hal yang dapat mendorong berdirinya MA An Nidham adalah :</p>
    </div>
    <script>
        window.onscroll = function() {myFunction()};
        
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
        </script>
</body>
</html>